In [1]:
import os
os.chdir('C:/Users/vivek/OneDrive/Desktop/project/chiago')

In [2]:
import numpy as np
import pandas as pd

In [8]:
df=pd.read_csv('Crimes_-_2001_to_present.csv')

In [9]:
df.head(1)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBICode,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11556487,JC104662,12/31/2018 23:59,112XX S SACRAMENTO AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,19.0,74.0,14,1158309.0,1829936.0,2018,1/10/2019 15:16,41.689079,-87.696064,"(41.689078832, -87.696064026)"

In [21]:
#Solution1 NOrmal filterting
sol1=df[(df.FBICode == '08B') | (df.FBICode  == '04A') | (df.FBICode  == '04B')]
sol1.head(3)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBICode,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
3,11552724,JC100006,12/31/2018 23:56,018XX S ALLPORT ST,440,BATTERY,AGG: HANDS/FIST/FEET NO/MINOR INJURY,OTHER,True,False,...,25.0,31.0,08B,1168327.0,1891230.0,2018,1/10/2019 15:16,41.857068,-87.657625,"(41.857068095, -87.657625201)"
4,11552731,JC100031,12/31/2018 23:55,078XX S SANGAMON ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,17.0,71.0,08B,1171332.0,1852934.0,2018,1/10/2019 15:16,41.751914,-87.647717,"(41.75191443, -87.647716532)"
5,11552715,JC100026,12/31/2018 23:49,052XX W GLADYS AVE,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,29.0,25.0,04B,1140262.0,1897810.0,2018,3/20/2019 16:10,41.875684,-87.760479,"(41.87568438, -87.760479356)"

In [22]:
#Solution2 - Shorter way Filter
sol2=df[df.FBICode.isin(['08B', '04A', '04B'])]
sol2.head(3)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBICode,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
3,11552724,JC100006,12/31/2018 23:56,018XX S ALLPORT ST,440,BATTERY,AGG: HANDS/FIST/FEET NO/MINOR INJURY,OTHER,True,False,...,25.0,31.0,08B,1168327.0,1891230.0,2018,1/10/2019 15:16,41.857068,-87.657625,"(41.857068095, -87.657625201)"
4,11552731,JC100031,12/31/2018 23:55,078XX S SANGAMON ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,17.0,71.0,08B,1171332.0,1852934.0,2018,1/10/2019 15:16,41.751914,-87.647717,"(41.75191443, -87.647716532)"
5,11552715,JC100026,12/31/2018 23:49,052XX W GLADYS AVE,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,29.0,25.0,04B,1140262.0,1897810.0,2018,3/20/2019 16:10,41.875684,-87.760479,"(41.87568438, -87.760479356)"

In [23]:
# Solution 3 Invert the filter:
sol3=df[~df.FBICode.isin(['08B', '04B', '04A'])]
sol3.head(3)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBICode,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11556487,JC104662,12/31/2018 23:59,112XX S SACRAMENTO AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,19.0,74.0,14,1158309.0,1829936.0,2018,1/10/2019 15:16,41.689079,-87.696064,"(41.689078832, -87.696064026)"
1,11561837,JC110056,12/31/2018 23:59,013XX W 72ND ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,6.0,67.0,11,1168573.0,1857018.0,2018,1/17/2019 14:26,41.763181,-87.657709,"(41.763181359, -87.657709477)"
2,11552699,JC100043,12/31/2018 23:57,084XX S SANGAMON ST,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,21.0,71.0,14,1171454.0,1848783.0,2018,1/10/2019 15:16,41.740521,-87.647391,"(41.740520866, -87.647390719)"

In [24]:
#Solution 4 
#With query, you can also do:
FBIcode = ['08B', '04B', '04A']
sol4=df.query('FBICode == @FBIcode')
sol4.head(3)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBICode,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
3,11552724,JC100006,12/31/2018 23:56,018XX S ALLPORT ST,440,BATTERY,AGG: HANDS/FIST/FEET NO/MINOR INJURY,OTHER,True,False,...,25.0,31.0,08B,1168327.0,1891230.0,2018,1/10/2019 15:16,41.857068,-87.657625,"(41.857068095, -87.657625201)"
4,11552731,JC100031,12/31/2018 23:55,078XX S SANGAMON ST,486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,False,...,17.0,71.0,08B,1171332.0,1852934.0,2018,1/10/2019 15:16,41.751914,-87.647717,"(41.75191443, -87.647716532)"
5,11552715,JC100026,12/31/2018 23:49,052XX W GLADYS AVE,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,29.0,25.0,04B,1140262.0,1897810.0,2018,3/20/2019 16:10,41.875684,-87.760479,"(41.87568438, -87.760479356)"

In [25]:
# SOlution 5 invert with:
sol5=df.query('FBICode != @FBIcode')
sol5.head(3)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBICode,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11556487,JC104662,12/31/2018 23:59,112XX S SACRAMENTO AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,19.0,74.0,14,1158309.0,1829936.0,2018,1/10/2019 15:16,41.689079,-87.696064,"(41.689078832, -87.696064026)"
1,11561837,JC110056,12/31/2018 23:59,013XX W 72ND ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,6.0,67.0,11,1168573.0,1857018.0,2018,1/17/2019 14:26,41.763181,-87.657709,"(41.763181359, -87.657709477)"
2,11552699,JC100043,12/31/2018 23:57,084XX S SANGAMON ST,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,...,21.0,71.0,14,1171454.0,1848783.0,2018,1/10/2019 15:16,41.740521,-87.647391,"(41.740520866, -87.647390719)"